<header>
  <div id="user-panel">
    <i class="fa fa-user-o"></i>
    <p>Peter Griffin (2017-18 - PBTIN - APO)</p>
  </div>
  <div id="pxl-logo">
    <img src="assets/images/logo_witte_rand.png" alt="logo" />
  </div>
  <div id="menu">
    <ul>
      <li><a [routerLink]="['/lector/download']">Download</a></li>
      <li><a [routerLink]="['/lector/upload']">Upload</a></li>
      <li><a [routerLink]="['/lector/archief']">Archief</a></li>
      <li><a [routerLink]="['/lector/uitloggen']">Uitloggen</a></li>
    </ul>
  </div>
</header>
