<app-lector-header></app-lector-header>
<main>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h3>Upload examenskelet</h3>
        <form action="">
          <div class="row">
            <div class="col-3">
              <label for="vak">Vak</label>
            </div>
            <div class="col-9">
              <div class="form-group">
                <input class="form-control" type="text" id="vak" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <label for="exampleInputFile">Bestand</label>
            </div>
            <div class="col-9">
              <div class="form-group">
                <div class="form-group">
                  <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                  <small id="fileHelp" class="form-text text-muted">Upload hier het skelet die je wilt uploaden.</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row float-right">
            <input type="submit" class="pxl-knop" id="zoek-knop" value="Upload" />
          </div>
        </form>
      </div>
      <div class="col-sm">
        <h3>Informatie</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In accumsan fringilla aliquam.
          Sed convallis faucibus velit et facilisis. Mauris fringilla volutpat viverra. Aenean vulputate
          odio nec finibus viverra. Ut vitae velit ultricies, faucibus lorem a, vestibulum dui.
          Proin porttitor elementum ex non iaculis. Etiam consectetur aliquam lectus consectetur
          fringilla. In sollicitudin augue eros. Sed augue dui, mollis ac cursus nec,
          faucibus non quam. Vestibulum sed justo eget lacus tincidunt fringilla id eget lacus.
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae
        </p>
      </div>
    </div>
  </div>
</main>
